.input {
  text-align: start !important;
  padding-left: 5.8%;
  background: #292929;
  border: none;
  width: 100%;
}
.input-with-button-container {
  height: 48px;

  background: #292929;
  border: 1px solid #363636;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.button-copy {
  height: auto !important;
}
