.screen-container {
  width: 100%;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons-container {
  margin: 2rem;
  display: flex;
  width: 50%;
}
.single-button {
  margin: 1.2rem;
  width: 50%;
}

/*text properties*/
.body-text {
  width: 75% !important;
  font-size: 16px !important;
  line-height: 26px !important;
}
.button-color-2 {
  background: #0065ff !important;
}
/* cencription screen*/
.encription-label-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.encription-width {
  width: 45rem;
}
.encription-label-input > label {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 740px) {
  .buttons-container {
    width: 100%;
  }
  .single-button {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .encription-width {
    width: 100%;
  }
}
