.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  /* or 162% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.caption-text {
  font-size: 14px;
  line-height: 23px;

  align-self: center;
  margin-top: auto;
  color: #98a0a6;
}
